.sobre_mim {
    display: flex;
    justify-content: space-evenly;
    margin: 68px auto;

    img {
        width: 74%;
    }

    .resumo {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .imagem {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
    }


    p {
        color: #ffffff;
        text-align: justify;
    }

    a {
        background-color: #6c63ff;
        border-radius: 20px;
        padding: 10px;
        text-decoration: none;
        color: #ffffff;
    }

    a:hover{
        background-color: #453cf9;
        transition: 0.3s;
    }

    ul{
        display: flex;
    }
}

@media (max-width: 700px) { 
    .sobre_mim{
        justify-content: space-evenly;
        margin: 30px auto;
        margin-bottom: 30px;
        flex-direction: column;
        align-items: center;
    }

    a{
        margin: 10px;
    }

    img{
        margin-top: 20px;
        width: 5%;
    }
}