<section class="container-md">
    <p>
        Me chamo Queren Sales, tenho 27 anos e sou de Guarulhos grande São Paulo.
        Sou estudante e profissional de <b>desenvolvimento de software</b>.
        Sempre gostei muito de estudar e ler e isso fez com que eu estudasse algumas
        coisas ao longo dos anos, estudei história, marketing e jornalismo e atualmente tecnologia. 
        Apaixonada por idiomas tenho nivel intermediário de inglês, básico de espanhol e estudo ambos para continuar evoluindo.
        Fora minha vida profissional sou musicista, também sou mãe da Olivia de 2 anos e do paçoca, nosso pet.
        Amo esportes radicais e tenho uma lista de alguns que quero praticar como paraquedismo, jet ski, bungle jump,
        e correr profissionalmente, ando de bike e de vez em quando eu corro. Sou consumidora assidua de redes sociais,
        uso muito instagram e wpp, sou muito eclética e gosto de muitas coisas. 
        Vou deixar abaixo algumas fotinhos que relatam um pouco sobre mim.
    </p>

    <a href="">Instagram</a>
    <a href="">Linkedin</a>
</section>