<section class="sobre_mim container-lg">
    <div class="resumo">
        <p>
            Me chamo Queren Sales, tenho 27 anos e sou de Guarulhos grande São
            Paulo.
            Sou estudante e profissional de <b>desenvolvimento de software</b>.
            Sempre gostei muito de estudar e ler e isso fez com que eu estudasse
            algumas coisas ao longo dos anos, estudei história, marketing e
            jornalismo e atualmente tecnologia. Na minha lista de leituras tenho
            os meus
            favoritos como a saga Harry Potter, romances policiais de Agatha
            Christie,
            Arthur Conan Doyle, os romances do Nicholas Sparks e alguns de
            suspense/terror.
            Apaixonada por idiomas tenho
            nivel intermediário de inglês, básico de espanhol e estudo ambos
            para continuar
            evoluindo e tenho muita vontade de aprender francês. Fora minha vida
            profissional sou musicista,
            também sou mãe da Olivia de 2 anos e do paçoca, nosso pet. Amo
            esportes radicais e tenho uma
            lista de alguns que quero praticar como paraquedismo, jet ski,
            bungle jump,
            e correr profissionalmente, ando de bike e de vez em quando eu
            corro. Sou consumidora assidua de redes sociais, uso muito instagram
            e wpp, sou muito eclética e
            gosto de muitas coisas. Vou deixar abaixo minhas redes sociais.
        </p>

        <a href="https://www.instagram.com/querensaless/" target="_blank">Instagram</a>
        <a href="https://www.linkedin.com/in/queren-sales-337661179/"
            target="_blank">Linkedin</a>
    </div>

    <div class="imagem">
        <img src="../../assets/aboutme.svg" alt>
    </div>

</section>
