<section class="container-md">
  <h4>Agora que você já me conhece um pouquinho, me conta ai como posso te
    ajudar?</h4>
  <p>
    No campo de mensagem não se preocupe com textão, eu vou ler com muito
    carinho. Vou deixar aqui três sugestões para te ajudar a escrever para mim.
  </p>

  <ul>
    <li>De onde você é?</li>
    <li>O que você precisa?</li>
    <li>Como posso te ajudar?</li>
  </ul>
</section>

<form (ngSubmit)="enviarMensagem()">
  <div>
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required>
  </div>

  <div>
    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" required>
  </div>

  <div>
    <label for="mensagem">Mensagem:</label>
    <textarea id="mensagem" name="mensagem"
      placeholder="escreva aqui sua mensagem" required></textarea>
  </div>

  <button type="submit">Enviar</button>
</form>