section {
    margin: 90px auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    ul {
        color: #ffffff;
    }

    li {
        list-style: none;
    }


}