section {
    width: 100%;
    display: flex;
    margin: 82px auto;
    text-align: center;
    color: #ffffff;
    align-items: center;

    b {
        color:#6c63ff ;
    }

    img {
        width: 55%;
    }
}
