<nav class="--bs-body-bg">
    <h1><span>Q</span>ueren Sales</h1>
    <ul>
        <li><a href="">Inicio</a></li>
        <li><a routerLink="/sobremim">Sobre mim</a></li>
        <li><a href="">Experiência</a></li>
        <li><a href="">Conhecimentos</a></li>
        <li><a href="">Contato</a></li>
    </ul>
</nav>

<section class="container-md">
    <div class="titulo">
        <h1>Desenvolvendo <b>soluções</b> para o seu negócio.</h1>
    </div>
    <img src="../assets/womancode.svg" alt>
</section>