section {
    width: 100%;
    display: flex;
    margin: 82px auto;
    text-align: center;
    color: #ffffff;
    align-items: center;

    b {
        color:#6c63ff ;
    }

    img {
        width: 55%;
    }
}

nav {
    background-color: #2b3035;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    h1 {
        font-size: 30px;
        color: #ffffff;
     
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            margin-right: 10px;

            a {
                color: #ffffff;
                text-decoration: none;
                padding: 5px;
                border-bottom: 2px solid transparent;
                transition: border-bottom 0.3s ease-in-out;

                &:hover {
                    border-bottom: 2px solid #6912d3;
                }
            }
        }
    }
}