section {
    width: 100%;
    display: flex;
    margin: 82px auto;
    text-align: center;
    color: #ffffff;
    align-items: center;

    b {
        color:#6c63ff ;
    }

    img {
        width: 55%;
    }
}

@media (max-width: 500px){

        section{
            flex-direction: column;
    };

    img{
        margin-top: 40px;
    }
}
